<h3>Show All Users</h3>

<ul>
<% @users.each do |user| %>
  <li><%= user.name %> currently has <%= user.active_recordings %> active recordings. Their favorite genre is '<%= user.fav_genre %>'.</li>
<% end %>
</ul>
