<h3>All Shows</h3>

<ul>
  <% @shows.each do |show| %>
    <li><%= link_to show.name, show_path(show) %></li>
    <ol>
      <li>Has <%= show.characters.count %> characters.</li>
      <li>Age requirement is <%= show.req_age %>.</li>
      <li>Takes <%= show.req_recording_hours %> recording hours.</li>
      <li>Show is currently 
        <% if !current_user.user_has_show(show) %> not <% end %>
        recorded by user.
      </li>
    </ol>
  <% end %>
</ul>
