<h3>Welcome to the TV Show Recording App</h3>
<h4>Built with Rails as the final rails project in the Learn Curriculum</h4>

<% if !logged_in? %>
    <%= link_to "Log In", login_path %><br><br>
    <%= link_to "Sign Up", signup_path %>
    
<% else %>
    <%= link_to "Go To Your Profile", user_path(current_user) %><br><br>
    <%= link_to "See All Shows", shows_path %>

<% end %>